[LocationInfo]
{{STATUS_SERVER_LINE}}
APRS_SERVER_LIST={{APRS_SERVER_LIST}}
#FILTER=m/10
LON_POSITION={{LON_POSITION}}
LAT_POSITION={{LAT_POSITION}}
CALLSIGN={{CALLSIGN}}
#SOURCE_CALLSIGN=MYCALL-1
#LOGIN_CALLSIGN=MYCALL-XX
FREQUENCY={{FREQUENCY}}
FREQUENCY_SEPARATOR="/"
TX_OFFSET={{TX_OFFSET}}
TX_POWER={{TX_POWER}}
NARROW=1
ANTENNA_GAIN={{ANTENNA_GAIN}}
ANTENNA_HEIGHT={{ANTENNA_HEIGHT}}
ANTENNA_DIR={{ANTENNA_DIR}}
#PATH=TCPIP*
BEACON_INTERVAL={{BEACON_INTERVAL}}
SYMBOL={{SYMBOL}}
TONE={{TONE}}
#STATISTICS_INTERVAL=10
#STATISTICS_LOGIC={{PRIMARY_LOGIC}}
{{COMMENT_LINE}}
#PTY_PATH=/dev/shm/locationinfo
#DEBUG=0
